[user]
  name = Dmytro Petrov
  email = sidodji228007@gmail.com
[alias]
  ci = commit
  co = checkout
  br = branch
  st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
[core]
  pager = 
  editor = nano
